body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Loading images Component */

.loadingImgCover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingImgCover .loadingImg:nth-child(1) {
  position: absolute;
  width: 400px;
  left: 16%;
  bottom: 14%;
}

.loadingImgCover .loadingImg:nth-child(2) {
  position: absolute;
  width: 800px;
}

.loadingImgCover .loadingImg:nth-child(3) {
  position: absolute;
  width: 300px;
  right: 12%;
  top: 8%;
}
.loadingImgCover .loadingImg:nth-child(4) {
  position: absolute;
  max-width: 400px;
  width: 40%;
  right: 20%;
  bottom: 10%;
}
.loadingImgCover .loadingImg:nth-child(5) {
  position: absolute;
  width: 280px;
  left: 14%;
  top: 12%;
}
img {
  width: 100%;
  object-fit: fill;
  border-radius: 15px;
}
