body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* background-color: #2b2b2b; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  /* cursor: none; */

  /* pointer-events: none; */
}

@font-face {
  font-family: "ExonOutline";
  src: url("./fonts/ExonOutline-4BWx4.otf") format("opentype");
}

@font-face {
  font-family: "ExonRegular";
  src: url("./fonts/ExonRegular-0WjEd.otf") format("opentype");
}

@font-face {
  font-family: "deVenci";
  src: url("./fonts/deVenci.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto&display=swap");

/* cursor */
.cursor {
  background-color: #111;
  /* pointer-events: none; */
  /* overflow: hidden; */
  cursor: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
}

/* navbar */

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 75px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarColor {
  position: absolute;
  pointer-events: none;
  background-color: white;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.logoText {
  display: flex;
  align-items: center;
  height: 100%;
  user-select: none;
  /* transition: 0.25s ease-in-out; */
}

.logoText h1 {
  margin-left: -12px;
}

.navbar h1 {
  font-family: "ExonRegular";
  letter-spacing: -1px;
  font-size: 4rem;
}

.navbar ul {
  user-select: none;
  height: 100%;
  align-items: center;
  margin-right: 15px;
  display: flex;
  list-style: none;
  gap: 25px;
  font-family: "ExonRegular";
  /* font-weight: 800; */
  font-size: 2rem;
}

/* 
.logoText svg {
  color: white;
  fill: white;
} */

/* Loading images Component */

.loadingImgCover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingImgCover .loadingImg:nth-child(1) {
  position: absolute;
  width: 400px;
  left: 16%;
  bottom: 14%;
}

.loadingImgCover .loadingImg:nth-child(2) {
  position: absolute;
  width: 800px;
}

.loadingImgCover .loadingImg:nth-child(3) {
  position: absolute;
  width: 300px;
  right: 12%;
  top: 8%;
}
.loadingImgCover .loadingImg:nth-child(4) {
  position: absolute;
  max-width: 400px;
  width: 40%;
  right: 20%;
  bottom: 10%;
}
.loadingImgCover .loadingImg:nth-child(5) {
  position: absolute;
  width: 280px;
  left: 14%;
  top: 12%;
}
img {
  object-fit: fill;
  border-radius: 15px;
}

/* Homepage */

.mainImg {
  position: relative;
  width: 100%;
  border-radius: 0;
  height: 100%;
  pointer-events: none;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: 20% center;
}

.mainCover {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTitle {
  position: relative;
  font-family: "ExonRegular";
  font-weight: 800;
  font-size: 12rem;
  user-select: none;
  color: whitesmoke;
  text-align: center;
  letter-spacing: -3px;
  width: fit-content;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  align-self: center;
  justify-self: center;
}

.mainTitleWrap {
  position: absolute;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainTitle:nth-child(2) {
  height: fit-content;
  width: fit-content;
  margin-top: -35px;
}

.mainTitle svg {
  color: black;
}

.scrollDown {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-family: "ExonRegular";
  font-weight: 800;
  bottom: 5%;
  border-radius: 50%;
  border: 1px solid black;
  height: 150px;
  aspect-ratio: 1/1;
  background-color: #1111114d;
  box-shadow: 0px 0px 5px black;
  font-size: 2rem;
}

.scrollDown h4 {
  height: fit-content;
  width: fit-content;
  margin: 0;
}

.scrollDown svg {
  height: 75px;
  width: 75px;
}

/* about */

.aboutCover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  user-select: none;
  background-color: whitesmoke;
}

.aboutCover h1 {
  font-family: "ExonRegular";
  font-weight: 800;
  margin-bottom: 5px;
}

.infoCover {
  border-radius: 25px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 70%;
  max-width: 700px;
  max-height: 600px;
  border: 1px solid black;
  background-color: #1a1919;
  box-shadow: 0px 0px 5px black;
  color: white;
  /* justify-content: space-between; */
}

.infoCover p {
  font-family: "Open Sans", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.infoCover img {
  width: 50%;
  object-fit: cover;
}

/* carousel */

.carouselCover {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
  background-color: whitesmoke;
  flex-direction: column;

  overflow: hidden;
}

.carouselCover h1 {
  font-family: "ExonRegular";
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5px;
}

a {
  text-decoration: none;
  color: #111;
  transition: 0.25s ease-in-out;
}

a:hover {
  color: rgb(0, 0, 145);
  text-shadow: 0px 0px 5px rgba(0, 0, 145, 0.527);
  /* fill: rgb(0, 0, 145); */
}

.imgCover {
  display: flex;
  /* flex-wrap: wrap; */
}

.individualImg {
  /* position: absolute; */
  min-height: 40rem;
  min-width: 30rem;
  cursor: grab;
  padding: 40px;
}

.individualImg img {
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.308);
  pointer-events: none;
  height: 100%;
  border-radius: 2rem;
}
